<h2 mat-dialog-title>{{marker.name}}</h2>
<p> {{marker.description}}</p>

<mat-dialog-content [formGroup]="form">
  <!--
   <div [ngSwitch]="marker.record_type">
     <div *ngSwitchCase="'facility'">
	<formio [src]="form_url" (submit)="onSubmit($event)"></formio>
     </div>
   </div>
   -->
   <formio src='https://examples.form.io/kitchensink' (submit)="onSubmit($event)"></formio>
  <pre>{{ this.data | json }}</pre>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
