<div *ngIf="!success">    
    <mat-card>
            <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>

        </form>
        <p>
        <button mat-raised-button class="btn btn-primary"
                (click)="fbLogin()">
		Login with Facebook
	</button>
        <button mat-raised-button class="btn btn-primary"
                (click)="gLogin()">
		Login with Google
	</button>
	</p>
      </mat-card-content>
    </mat-card>
</div>
<div *ngIf="displaySelection">    
    <mat-card>
            <mat-card-title>Select User Group</mat-card-title>
      <mat-card-content>
	<div *ngFor="let option of userGroupOptions"> 
        <p>
        <button mat-raised-button class="btn btn-primary"
                (click)="submitUserGroup(option)">
		{{ option }}
	</button>
	</p>
	</div>
      </mat-card-content>
    </mat-card>
</div>

