<h1>Update COntext</h1>
<div *ngIf="dataLoaded | async" class="container">
   <h1>Update Context</h1>
   <div class="col-lg-8 ">
      <h3 *ngIf="success" class="text-success">Successfully Updated</h3> 
      <h3 *ngIf="!success" class="text-danger" [innerHTML]="errorMessage"> </h3> 
      <h4 class="float-right"><small>All fields are required</small></h4>
      <div class="row well center">
         <form (ngSubmit)="onSubmit()">
            <div  class="col-sm-12">


          <div class="row form-group" *ngIf="isVolunteer">
            <label  class="col-sm-6 col-form-label">Whom do you represent</label>
            <div class="col-sm-6">
              <select  class="form-control" name="who_are_you" [(ngModel)]="context.who_are_you">
                <option value="null">Who are you</option>
                <option value="individual">I am an individual / small organization</option>
                <option value="organization">I represent a large organization</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="context.name">
            </div>
            <div class="col-sm-6 form-group">
              <label>Contact Numbers</label>
              <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="context.contact_numbers">
            </div>
          </div>

          <div class="row" *ngIf="isVolunteer">
            <div class="col-sm-6 form-group">
              <label>Email</label>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="context.email">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="Describe what help do you need" id="description" name="description" [(ngModel)]="context.description">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label>How Many People</label>
              <input type="text" class="form-control"  id="how_many_people" name="how_many_people" [(ngModel)]="context.how_many_people">
            </div>
          </div>

          <div class="row form-group" *ngIf="!isVolunteer">
            <label  class="col-sm-6 col-form-label">What kind of help do you need</label>
            <div class="col-sm-6">
              <select  class="form-control" name="what_help" [(ngModel)]="context.what_help">
                <option value="food">Food supplies</option>
                <option value="medical">Medical</option>
                <option value="police">Help with Police</option>
                <option value="transport">Transport</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>

          <div class="row form_group" *ngIf="!isVolunteer">
            <label  class="col-sm-6 col-form-label">What kind of help do you need</label>
            <div class="col-sm-6">
              <select  class="form-control"  name="how_urgent" [(ngModel)]="context.how_urgent">
                <option value="null">How urgent do you need help</option>
                <option value="critical">Critial</option>
                <option value="urgent">Urgent</option>
              </select>
            </div>
          </div>


               <div class="row">
                  <p> To update the location you can drag the marker. You can use search functionality to arrive at coordinates.</p>
                 <form (ngSubmit)="showLocation()">
                  <div class="col-sm-6 form-group ">
                   <input type="text" class="form-control" [(ngModel)]="address" required [ngModelOptions]="{standalone: true}">
		  </div>
                   <button type="submit">Search Location</button>
                 </form>
	       </div>
               <div class="row">
                  
                 <agm-map
                   [latitude]="latitude"
                   [longitude]="longitude"
                   [zoom]="12"
                   [disableDefaultUI]="false"
                   [zoomControl]="true">
                   <agm-marker 
                   [markerDraggable]="true"
                   (dragEnd)="markerDragEnd($event)"
                       [latitude]="latitude"
		       [longitude]="longitude">
                   </agm-marker>
                 </agm-map>
                 <p *ngIf="loading">Loading...</p>
               </div>
 

               <button type="submit" class="btn btn-lg btn-info">Submit</button>	                            				
            </div>
         </form>
      </div>
   </div>
</div>
