<div class="container">

  <h1>Search For Relief</h1>
  <br />
  <div class="form-group">
    <label>Enter the address of the person looking for help</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  <br />

  <div [formGroup]="filterForm">
    <div class="form-group row">
      <label  class="col-md-2 col-form-label">Search</label>
      <div class="col-md-4">
        <input formControlName="search" class="form-control" placeholder="Search by name, description">
      </div>
    </div>
   
    <div class="form-group row" >
      <label  class="col-md-2 col-form-label">Type</label>
      <div class="col-md-2">
            <select formControlName="record_type" class="form-control">
               <option value="needHelp">Crisis</option>
               <option value="facility">Relief</option>
            </select>
      </div>
    </div>
  </div>
  <br />

  <div *ngIf="!located">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
  </div>
  <div *ngIf="located">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">

      <ng-container *ngFor="let m of (page | async)?.results; let i = index">

        <agm-marker (markerClick)="clickedMarker(m.name, i)" [latitude]="m.latitude" [longitude]="m.longitude" [label]="m.label" [iconUrl]="m.icon_url" *ngIf="m.is_active">

          <agm-info-window>
              <h6>Name: {{m.name}}</h6>
              <h6>Description: {{m.description}}</h6>
	      <h6><a href="/item/{{m.id}}">View</a></h6>
          </agm-info-window>

        </agm-marker>

      </ng-container>

      <agm-circle [latitude]="radiusLat" [longitude]="radiusLong" [radius]="radius" [fillColor]="'gray'"
                  [circleDraggable]="true" [editable]="false" (dragEnd)="markerDragEnd($event)"
                  (radiusChange)="event('radiusChange',$event)">
      </agm-circle>

      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)">
      </agm-marker>
    </agm-map>
  </div>

  <br />
  <h5>Address: {{address}}   <b>NOTE: Please drag and correct if need be!</b></h5>
  <br />

  <h5>Current Location - Latitude: {{latitude}} Longitude: {{longitude}}</h5>
  <br />
</div>
