<div class='gridView'>

    <br />
    <div class='grid1'><b>ISSUE CAUSE:</b> {{details.issue_cause}}</div>
    <div class='grid1'><b>ISSUE TYPE: </b>{{details.issue_type}}</div>

    <div class='grid1'><b>UOM:</b> {{details.uom}}</div>
    <div class='grid1'><b>SIZE: </b>{{details.size}}</div>
    <div class='grid1'><b>FORM: </b>{{details.form}}</div>
    <div class='grid1'><b>PKG QTY: </b>{{details.pkg_qty}}</div>
    <br />
    <div class='grid2'><b>BRAND: </b>{{details.bname}}</div>
    <div class='grid2'><b>BG: </b>{{details.bgflag}}</div>
    <div class='grid2'><b>MFG: </b>{{details.mfg}}</div>

    <div class='grid3'><label> Competitor price <input field="comp_price" type="text" [(ngModel)]="details.comp_price" (change)="onChange($event)" style="width: 60px;"> </label></div>
    <div class='grid3'><label> Monthly SKUs <input field="comp_price" type="text" [(ngModel)]="details.sku" (change)="onChange($event)" style="width: 60px;"> </label></div>
    <!--
        <div class='grid3'><label> Other notes <input field="notes" type="text" [(ngModel)]="details.notes" (change)="onChange($event)"> </label></div>
        -->
</div>
