<div class="container">
  <h1>Update User</h1>
  <div class="col-lg-8 ">
    <h3 *ngIf="success" class="text-success">Successfully Updated</h3>
    <h3 *ngIf="!success" class="text-danger" [innerHTML]="errorMessage"> </h3>
    <div class="row">
      <div class="col-lg-5">
        <h3> {{user.name}}</h3>
        <h3> {{user.email}}</h3>
      </div>
    </div>
    <div class="row well center">
      <form (ngSubmit)="onSubmit()">

        <div class="col-sm-12">

          <div *ngIf="user" class="row">
            <div class="col-sm-6 form-group">
              <label>Name</label>
              <input type="text" class="form-control" id="name" name="user.name" [(ngModel)]="user.name">
            </div>
          </div>

          <div *ngIf="!is_social_user" class="row">
            <div class="col-sm-6 form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password">
            </div>
            <div class="col-sm-6 form-group">
              <label>ReEnter Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="user.password2">
            </div>
          </div>
          
          <div *ngIf="user" class="row">
            <div class="col-sm-6 form-group">
            <mat-form-field>
              <mat-label>User Role</mat-label>
              <mat-select name="user_role" [(ngModel)]="user.user_role">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let option of roleOptions" [value]="option.value">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>


          <div *ngIf="user" class="row">

            <div class="col-sm-3 " >
              <img class="avatar" src={{avatar_url}}/>
            </div>
            <div class="col-sm-3 " *ngIf="!is_social_user">
              <label>Avatar</label>
              <input type="file" (change)="onImageChanged($event)" >
            </div>
            <div class="col-sm-3" *ngIf="is_social_user">
              <p> This is social user and his profile picture is taken from {{user.provider}}. His profile picture cannot be edited</p>
            </div>


          </div>


          <button *ngIf="user" type="submit" class="btn btn-lg btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
