<div class="container" [formGroup]="filterForm">
  <mat-card class="col-md-12" style="padding:5px;">
    <mat-expansion-panel (opened)="panelOpen = true"
                         (closed)="panelOpen = false"
                         [expanded]="panelOpen">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 align="center">Filters</h3>
        </mat-panel-title>
        <mat-panel-description style="text-align-vertical:center; text-align:center;">
          <label class="col-sm-2 col-form-label"></label>
          Click to {{!panelOpen ? 'Open' : 'Close'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-content class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <label  class="col-sm-2 col-form-label">Search</label>
          <div class="col-sm-4">
            <input formControlName="search" class="form-control" placeholder="Search by name, phone">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <label class="col-sm-2 col-form-label">Results per Page</label>
          <div class="col-sm-1">
            <input  formControlName="limit" class="form-control" placeholder="min">
          </div>
          <div class="col-sm-3">
            <select formControlName="ordering" class="form-control">
              <option value="created">Oldest Listing First</option>
              <option value="-created">Newest Listing First</option>
              <option value="updated">Recently Updated First</option>
              <option value="-updated">Recently Updated Last</option>
              <!--
                  <option value="nearest">Nearest to Farthest</option>
              <option value="-nearest">Farthest to Nearest</option>
              <option value="null" selected>Sort by?</option>
              -->
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <div align="center" class="col-sm-3">
            <mat-form-field>
              <mat-label>By Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div align="center" class="col-sm-3">
            <mat-form-field>
              <mat-label>By Urgency</mat-label>
              <mat-select formControlName="urgency">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let option of urgencyOptions" [value]="option.value">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-expansion-panel>
  </mat-card>

  <div *ngIf="dataLoaded | async" class="col-lg-12 well">
    <div class="row">
      <div class="col-md-12">
        <!--
            <h4 class="text-left">List Entitys</h4>
            <h3 class="text-center">List</h3>
            -->
      </div>
      <div class="col-lg-12 ml-auto mr-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Urgency</th>
                <th *ngIf="authService.isLoggedIn()" align="center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entity of (page | async)?.results;let i=index">
                <td *ngIf="authService.isLoggedIn()">
                  <a [routerLink]="['/update',entity.id]">{{entity.title}}</a>
                </td>
                <td *ngIf="!authService.isLoggedIn()">
                  {{entity.title}}
                </td>
                <td>
		  {{ (entity.phone | json).replace('.0', '')
		    .replace('"', '').replace('"', '') }}
		</td>
                <td>{{entity.status}}</td>
                <td>{{entity.urgency}}</td>
                <td *ngIf="authService.isLoggedIn()" class="td-actions">
                  <div>
                      <button mat-raised-button class="btn btn-primary"
                              [routerLink]="['/update',entity.id]">
                        Edit
                      </button>
                    <!--
                        <span>    </span>
                        <button mat-raised-button
                                (click)="deleteEntity(entity.id)">
                          Delete
                        </button>
                        -->
                  </div>
                  <!--
                      <a type="button" class="btn btn-success btn-just-icon btn-sm "
                         style="margin-left:10px;"
                         [routerLink]="['/edit',entity.id]"
                         >
                        <i class="material-icons">Edit</i>
                      </a>
                      <button
                        (click)="deleteEntity(entity.id)"
                        type="button" rel="tooltip"
                        class="btn btn-danger btn-just-icon btn-sm"
                        data-original-title=""
                        title="" style="margin-left:10px;">
                        <i class="material-icons">Delete</i>
                      </button>
                      -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--
        <div class="row" *ngIf="authService.isRealtor()" align="center">
          <mat-card>
            <mat-card-content>
              <mat-card-title align="center">Bulk Action</mat-card-title>
              <mat-card-subtitle>Apply to Selected Entities</mat-card-subtitle>
              <h4>Bulk Action for the Selected Entities Above</h4>
              <button *ngFor="let option of bulkActionList|keyvalue"
                      mat-raised-button class="btn-danger"
                      (click)="onBulkAction(option.key)">
                {{ option.value }}
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <br />
        <div class="row" *ngIf="authService.isRealtor()" align="center">
          <mat-card>
            <mat-card-content>
              <mat-card-title align="center">Bulk Action</mat-card-title>
              <mat-card-subtitle>Apply to Selected Entities</mat-card-subtitle>
              <h4>Filter Based on Status</h4>
              <button *ngFor="let option of bulkActionList|keyvalue"
                      mat-raised-button class="btn-primary"
                      (click)="onBulkAction(option.key)">
                {{ option.value }}
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <br />
        <div class="row" *ngIf="authService.isRealtor()" align="center">
          <mat-form-field>
            <mat-label>Bulk Action</mat-label>
            <mat-select [(value)]="bulkAction">
              <mat-option value="none">None</mat-option>
              <mat-option *ngFor="let option of bulkActionList|keyvalue" [value]="option.key">{{ option.value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button
                  (click)="onBulkAction(bulkAction)">
            Apply Bulk Action
          </button>
          <button mat-raised-button
                  (click)="deleteAllEntitys()">
            Delete All Entities
          </button>
        </div>
        <pre> {{ bulkAction }} </pre>
  </div>
  -->
  </div>
  <div align="center">
    <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>
  </div>
</div>
