<div style="padding: 0px 15px;" align="center">
  <mat-card-content class="col-md-6">
    <h3>Who are we?</h3>
    <br />

    We are mapping people looking for help to relief centers.
    <br />
    You can request for help yourself(click I Need Help)
    <br />
    or
    <br />
    on behalf of someone(click Volunteer)
    <br />
    <br />

    <div class="row">
      <div style="padding: 0px 15px;">
        <div>
          <button mat-raised-button>
            <a routerLink="/crisis-center" [routerLink]="['add','help']">Need Help</a>
          </button>
        </div>
        <br />
        <div>
          <button mat-raised-button>
            <a routerLink="/crisis-center" [routerLink]="['add','volunteer']">I want to Volunteer</a>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content class="col-md-6">
    <h3>How are things looking currently?</h3>
    <div *ngIf="showMap">
      <app-context-map></app-context-map>
    </div>
    <br />
    <h4>Current Status <b>(Dummy Values for now)</b></h4>
    <br />
    No of Relief Centers: {{relief}}
    <br />
    No of Volunteers: {{volunteers}}
    <br />
    No of Crisis Points: {{crisis}}
    <br />
  </mat-card-content>
</div>
