<div class="container" [formGroup]="filterForm">
  <h1>User List</h1>
  <div class="row" *ngIf="authService.isRealtor()">
     <div class="col-md-2">
                            <a type="button" class="btn btn-success btn-just-icon btn-sm "
                            style="margin-left:10px;"
                          [routerLink]="['/useraddedit','0']"
                            >
                                <i class="material-icons">Add User</i>
                            </a>
     </div>
  </div>
  <div class="form-group row">
    <label  class="col-md-2 col-form-label">Search</label>
    <div class="col-md-4">
      <input formControlName="search" class="form-control" placeholder="Search by user name">
    </div>
  </div>

  <div class="form-group row" *ngIf="authService.isRealtor()">
    <label  class="col-md-2 col-form-label">User Role</label>
    <div class="col-md-2">
          <select formControlName="user_role" class="form-control">
             <option value="">User Role</option>
             <option *ngIf="authService.isAdmin()"  value="admin">admin</option>
             <option value="client">client</option>
             <option value="realtor">realtor</option>
          </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Results per Page</label>
    <div class="col-md-2">
      <input  formControlName="limit" class="form-control" placeholder="min">
    </div>
    <div class="col-md-2">
          <select formControlName="ordering" class="form-control">
             <option value="null" selected>Sort by?</option>
             <option value="name">Name A-Z</option>
             <option value="-name">Name Z-A</option>
          </select>
    </div>
  </div>



  <div *ngIf="dataLoaded | async" class="col-lg-12 well">
    <div class="row">
        <div class="col-lg-12 ml-auto mr-auto">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>email</th>
                        <th>Is Active</th>
                        <th>User Role</th>
                        <th >Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of (page | async)?.results;let i=index" 
                    >
			<td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.is_active}}</td>
                        <td>{{user.user_role}}</td>
                        <td *ngIf="authService.isUserAdmin()" class="td-actions text-right">                             
                            <a type="button" class="btn btn-success btn-just-icon btn-sm "
                            style="margin-left:10px;"
                          [routerLink]="['/useraddedit',user.id]"
                            >
                                <i class="material-icons">Edit</i>
                            </a>

                            <button (click)="deleteUser(user.id)" type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="margin-left:10px;">
                                <i class="material-icons">Delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
     </div>
  </div>
    <div class="row" *ngIf="authService.isAdmin()">
        <button class="btn btn-primary" (click)="deleteAllUsers()">
        Delete All Users
        </button>
    </div>
  </div>

  <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>
</div>
