<form *ngIf="items" style="margin-top: -12px;">
  <mat-form-field style="width=250px">
    <input matInput [placeholder]="desc"
           [matAutocomplete]="auto" [formControl]="acControl" style="color: #f44336; font-weight: bold;" />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="acClear()">
    <i class="fa fa-times-circle fa-lg"  style="align:center; color:#8A8A8A; margin-left: 1px;"></i>
    </button>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="acDisplay">
      <mat-option *ngFor="let option of filteredOptions|async" [value]="option">
        <span>{{ option.name }}</span><span *ngIf="false"> | <small>{{ option.id }}</small></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <pre *ngIf="debug">{{ result|json }}</pre>
</form>
