<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  <h2> Simple Form With Validation (Inline JSON)</h2>
  <formio [form]='{
                  "title": "My Test Form",
                  "components": [
                  {
                  "type": "textfield",
                  "input": true,
                  "tableView": true,
                  "inputType": "text",
                  "inputMask": "",
                  "label": "First Name",
                  "key": "firstName",
                  "placeholder": "Enter your first name",
                  "prefix": "",
                  "suffix": "",
                  "multiple": false,
                  "defaultValue": "",
                  "protected": false,
                  "unique": false,
                  "persistent": true,
                  "validate": {
                  "required": true,
                  "minLength": 2,
                  "maxLength": 10,
                  "pattern": "",
                  "custom": "",
                  "customPrivate": false
                  },
                  "conditional": {
                  "show": "",
                  "when": null,
                  "eq": ""
                  }
                  },
                  {
                  "type": "textfield",
                  "input": true,
                  "tableView": true,
                  "inputType": "text",
                  "inputMask": "",
                  "label": "Last Name",
                  "key": "lastName",
                  "placeholder": "Enter your last name",
                  "prefix": "",
                  "suffix": "",
                  "multiple": false,
                  "defaultValue": "",
                  "protected": false,
                  "unique": false,
                  "persistent": true,
                  "validate": {
                  "required": true,
                  "minLength": 2,
                  "maxLength": 10,
                  "pattern": "",
                  "custom": "",
                  "customPrivate": false
                  },
                  "conditional": {
                  "show": "",
                  "when": null,
                  "eq": ""
                  }
                  },
                  {
                  type: "email",
                  label: "Email",
                  key: "email",
                  input: true
                  },

                  {
                  "input": true,
                  "label": "Submit",
                  "tableView": false,
                  "key": "submit",
                  "size": "md",
                  "leftIcon": "",
                  "rightIcon": "",
                  "block": false,
                  "action": "submit",
                  "disableOnInvalid": true,
                  "theme": "primary",
                  "type": "button"
                  }
                  ]
                  }' (submit)="onSubmit($event)"></formio>

  <pre>{{ this.data | json }}</pre>

  <!--
  <h2> COMPLICATED FORM - Source JSON - https://example.form.io/example</h2>
  <formio src="https://pjmfogrfqptslvi.form.io/test" (submit)="onSubmit($event)"></formio>
  -->
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
