<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  <!--
	<formio [src]="form_url" (submit)="onSubmit($event)"></formio>

  -->
	<formio [form]="marker.feedback_form_json" (submit)="onSubmit($event)"></formio>
  <pre>{{ this.data | json }}</pre>


  <!--
  <h2> COMPLICATED FORM - Source JSON - https://example.form.io/example</h2>
  <formio src="https://pjmfogrfqptslvi.form.io/test" (submit)="onSubmit($event)"></formio>
  -->
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
