<h5 mat-dialog-title>Update {{ entities.length }} entities</h5>
<!--
<ul *ngFor="let entity of entities">{{entity.id}}</ul>
-->


<mat-dialog-content [formGroup]="form">
  <formio [src]="form_url" (submit)="onSubmit($event)"></formio>
  <pre>{{ this.json_data | json }}</pre>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>

<pre style="border: 0; background-color: transparent;">                                                                                </pre>
