<h5 mat-dialog-title>Update {{ entities.length }} selection(s)</h5>
<!--
<ul *ngFor="let entity of entities">{{entity.id}}</ul>
-->

<div *ngIf="formioBased">
<mat-dialog-content [formGroup]="form">
  <formio [src]="form_url" (submit)="onSubmit($event)"></formio>
  <pre>{{ this.json_data | json }}</pre>
</mat-dialog-content>
</div>

<div *ngIf="!formioBased">
 <mat-card *ngIf="dataLoaded">
    <mat-card-title align="center">{{ title }}</mat-card-title>
    <mat-card-content>
      <div *ngIf="loadVolunteerForm || loadGroupForm">
        <form [formGroup]="assignForm" (ngSubmit)="submitAssign()">

          <div *ngIf="loadVolunteerForm" align="center">
            <!--
            <mat-form-field>
              <mat-label>Assign to Volunteer</mat-label>
              <mat-select formControlName="assigntovolunteer">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let user of (page | async)?.results" [value]="user.id">{{ user.name }}</mat-option>
              </mat-select>
            </mat-form-field>
            -->
            <app-auto-complete desc="Assign to Volunteer"
                               [subscript]="true"
                               [items]="(page | async)?.results"
                               formControlName="assigntovolunteer">
            </app-auto-complete>
          </div>

          <div *ngIf="loadGroupForm" align="center">
            <!--
            <mat-form-field>
              <mat-label>Assign to Team</mat-label>
              <mat-select formControlName="assigntogroup">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let group of groups.results" [value]="group.id">{{ group.display }}</mat-option>
              </mat-select>
            </mat-form-field>
            -->
            <app-auto-complete desc="Assign to Team"
                               [subscript]="true"
                               [items]="groups.results"
                               formControlName="assigntogroup">
            </app-auto-complete>
          </div>
          <br />
          <div style="padding: 4px;" align="center">
            <button mat-raised-button class="btn"
                    type="submit">
              Assign
            </button>
            <label style="padding: 0 10px;"></label>
            <button mat-raised-button class="btn" *ngIf="unassignable"
                    (click)="onUnassign()">
              <i class="fa fa-warning fa-lg" style="align:center; color:red; margin-left: 5px;"></i>
              Unassign
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="loadExportDialog" class="well">
          YOu would be redirected to the export file shortly
      </div>
      <div *ngIf="loadEndorseDialog" class="well">
          Thank you so much for showing faith in these organizations
      </div>
      <div *ngIf="loadDuplicateDialog" class="well">
    You are suggestiong the selection(s) be marked as duplicate. Are you sure?
    <label style="margin: 5px;"></label>
        <button mat-raised-button class="btn" (click)="onSubmit(true)">
      Yes
    </button>
    <label style="margin: 5px;"></label>
        <button mat-raised-button class="btn" (click)="onSubmit(false)">
      No
    </button>
    <br />
    <p><b><i class="fa fa-warning fa-lg" style="color:red; padding: 0 5px;"></i>NOTE: This will be submitted to the Approval Team.</b></p>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>

<pre style="border: 0; background-color: transparent;">                                                                                </pre>
