<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CoAST India</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="menu-item" routerLinkActive="active" ><a routerLink="about">About</a></li>
        <!--
            <li class="menu-item" routerLinkActive="active" ><a routerLink="locate">Locate</a></li>
        <li class="menu-item" routerLinkActive="active" ><a routerLink="nearby">Nearby</a></li>
        <li class="menu-item" routerLinkActive="active" ><a routerLink="search">Search</a></li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()"><a routerLink="list">List</a></li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()"><a [routerLink]="['add','helpseekers']">Add Helpseeker</a></li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()"><a [routerLink]="['add','supportnetwork']">Add Supportnetwork</a></li>
        -->
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()"><a routerLink="helpseekers">Add Help Seeker</a></li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()"><a routerLink="supportnetwork">Add Support Network</a></li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()"><a routerLink="list" style="color: red;"><b>List</b></a></li>
        <li class="dropdown menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b style="color: green;">Funding</b><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="menu-item"><a routerLink="/orgs">Orgs Seeking Funds</a></li>
            <li class="menu-item"><a routerLink="/requests">Funding Requests</a></li>
            <li class="menu-item"><a routerLink="/pledges">Pledges</a></li>
            <li role="separator" class="divider"></li>
            <li class="menu-item">
              <a routerLink="/fundseekers">Add Fund Seeker</a>
            </li>
            <li class="menu-item">
              <a routerLink="/supportrequest">Add Fund Request</a>
            </li>
          </ul>
        </li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()"><a href="https://reports.coastindia.org" target="_blank">Reports</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item" routerLinkActive="active" *ngIf="!authService.isLoggedIn()"><a routerLink="login">Login</a></li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isUserAdmin()"><a routerLink="users">Users</a></li>
        <li class="menu-item" routerLinkActive="active" *ngIf="authService.isUserAdmin()"><a routerLink="teams">Teams</a></li>
        <li class="dropdown menu-item" routerLinkActive="active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="menu-item"><a routerLink="/faq">Faq</a></li>
            <li class="menu-item"><a routerLink="/guide">Guide</a></li>
            <li class="menu-item"><a routerLink="/tutorial">Video Tutorial</a></li>
            <li role="separator" class="divider"></li>
            <li class="menu-item">
              <a href="https://coastindia.org/" target="_blank">CoAST India</a>
            </li>
            <li class="menu-item">
              <a href="https://dp.observatory.org.in/content/migration-route-covid-19" target="_blank">Data Platform</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="menu-item">
              <a [href]="commit_url" target="_blank">Version {{ version }} - {{ hash }}</a>
            </li>
          </ul>
        </li>
        <li class="disabled" routerLinkActive="active" *ngIf="authService.isLoggedIn()">
          <a href="#">
            <i class="fa fa-lg fa-user" style="align:center; color:#8A8A8A;">
            </i>
            {{ this.user }}
          </a>
        </li>
        <li class="disabled" routerLinkActive="active" *ngIf="authService.isLoggedIn()">
          <a href="#">
            <i class="fa fa-lg fa-group" style="align:center; color:#8A8A8A;">
            </i>
            {{ this.group }}
          </a>
        </li>
        <li><a href="#" (click)="authService.logout()"  *ngIf="authService.isLoggedIn()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style="margin: 20px">
  <router-outlet></router-outlet>
</div>

<footer class="container-fluid well" align="center" style="background-color:#f8f8f8;">
  <div class="row" style="vertical-align: middle;">
    <div class="col-sm-4" style="line-height:36px;">
      Public Interface <a href="https://coastindia.org/" target="_blank">CoAST India</a> / <a href="https://dp.observatory.org.in/content/migration-route-covid-19" target="_blank">Data Platform</a>
    </div>
    <div class="col-sm-4" style="line-height:36px;">
      ©2020 CoAST India
    </div>
    <div class="col-sm-4">
      Version {{ version }}<span style="display: none">Build Hash: {{ build }}</span> - <a [href]="commit_url" target="_blank">{{ hash }}</a>@<a [href]="github_url" target="_blank" style="padding-right:10px">github</a>
      <button mat-raised-button class="btn-danger" (click)="reload()">
        <i class="fa fa-rotate-right fa-sm"></i>
      </button>
    </div>
  </div>
</footer>
