<div class="container">
  <div class="row center">
    <div class="col-md-12 jumbotron">
      <h2>ABOUT Collaborative/COVID Action Support Team</h2>
      <p>
        Covid Action Support Team (CoAST) was formed in April 2020.
        It is a collaboration of civil society organizations who are working together to ensure that citizens
        (especially migrant and vulnerable sections) are able to receive help &amp;
        relief during the COVID-19 lockdown and thereafter.
      </p>
    </div>
    <div class="col-md-12">
      <h3>What we aim to do</h3>
      <p>
        We connect people seeking relief with those who are providing relief across different states. We will:
      </p>
      <ol type="1">
        <li><b>Publish comprehensive information on</b>
          <ol type="a">
            <li>Public relief facilities like community kitchens, ration distribution centers etc.</li>
            <li>Official contacts like nodal officers who are managing the situation on the ground</li>
            <li>Information about local organizations that are providing help</li>
          </ol>
        </li>
        <br />
        <li>
          <b>Pooling requests for support for coordinated action</b>
          <p>
            For example, our partners in Jharkhand, Orissa and Madhya Pradesh all have received calls for help from people stranded in Karnataka.
            By consolidating this, we hope to make it easy for relief organizations and the state to respond to requests from one place.
          </p>
        </li>
      </ol>
    </div>
  </div>
</div>
