<div class="container">
  <div class="row center">
    <div class="col-md-12 jumbotron">
      <h2>ABOUT Collaborative/COVID Action Support Team</h2>
      <p>
	Covid Action Support Team (CoAST) was formed in April 2020. It is a collaboration of civil society organisations who are working together to ensure that citizens (especially migrant and vulnerable sections) are able to receive help & relief during the COVID-19 lockdown and thereafter.
      </p>
    </div>
    <div class="col-md-12">
      <h3>What we aim to do</h3>
      <ol type="1">
	<li>
	  <b>Pooling requests for help:</b>
	  <p>
	    Our partners including grassroots organisations and state governments send/add requests for help that they have received into the coast platform. We geocode the information, standardise it and make it available for those providing support on the field to act quickly.
	  </p>
	  <p>
	    Our partners receive calls for help from people who are natives of the region in which they work, but are currently located all over India.  For example, our partners in Jharkhand, Orissa and Madhya Pradesh all have received calls for help from people stranded in Karnataka. By consolidating this, we hope to make it easy for relief organisations in Karnataka to access requests for help in one place.
	  </p>
	  <p>
	    The platform enables field partners, their users and assigned volunteers to look up the necessary information relating to a help request, call the contact person, enable relief through various government and non-government channels and update the information in the system to keep track.
	  </p>
	</li>
	<li><b>Matching support providers:</b>
	  <p>
	    We aim to create a comprehensive directory of relief facilities, responsible government officials, and organizations providing relief  in one place so that it is easy to connect requests for support with those providing it in the locality.
	  </p>
	  <p>
	    The platform enables the following:
	  </p>
	  <ul>
	    <li>Access to all information relating to a help request in a user-friendly framework.</li>
	    <li>Assign help requests to organisations and groups based on geography and/or specialisation of relief.</li>
	    <li>Assign a help request to a staff/volunteer for follow up, be a point of contact and to provide the necessary relief. This avoids duplication of effort.</li>
	    <li>Easily searchable access to contact information of all relief providers in a given location</li>
	    <li>Report back to state governments with progress updates and emerging trends</li>
	  </ul>
	</li>
	<br />
      </ol>
      <h3>Let's work together</h3>
      <ol type="1">
	<li>
	  <b>If you are getting requests for help:</b>
	  <p>
	    Consider joining this network and pooling all the requests for help you received.  We can work together in finding support to your callers.
	  </p>
	</li>
	<li>
	  <b>If you are doing relief work:</b>
	  <p>Here are a few ways in which we can help:</p>
	  <ul>
	    <li>We collect, clean and standardise the requests for help that you receive so that you work with clean information.</li>
	    <li>You can redirect the requests for help that you get through multiple streams.  We can take the burden of collecting them and giving you an easy to use interface to work with.</li>
	    <li>We can create a dashboard for you through which you can assign the requests for help to your staff, volunteers and peer organizations.  When they take action on these requests, you will get to know right away.</li>
	    <li>We are considering a call centre with a network of volunteers who can call and update information, follow up to check if help reached.  This can help your relief team to focus on their core work while passing on the burden of phone call management to a different team.</li>
	  </ul>
	</li>
      </ol>
      <h3>Organisations</h3>
      <p>
	The founders of COAST come from Azim Premji Philanthropic Initiatives, Azim Premji University (APU), Foundation for Ecological Security (FES), Libtech India, WASSAN and Revitalising Rainfed Agriculture Network (RRAN).  This is a growing network and we will update the roster of partners soon.
      </p>
    </div>
  </div>
</div>
