<div class="container">
    <h1>Reset Your Password </h1>
    <h3 *ngIf="success" class="text-success"> Instructions for resetting password have been sent to your email address. Kindly check your email for further steps</h3> 
    <h3 *ngIf="error" class="text-danger"> {{ errormessage }} </h3> 
    <div class="col-lg-8 " *ngIf="!success">
      <div class="row well center">
        <label>Email</label>
        <input 
           type='text'
           class="form-control"
           [(ngModel)]="email">

        <button class="btn btn-primary"  (click)="onSubmit()">Reset Password</button>
      </div>
    </div>


</div>
