<h1>PRIVACY POLICY</h1>
<p>The protection of your personal data is an important matter for us. When operating our website admin.coastindia.org we observe the applicable legislation regarding the protection of personal data and data security. We would like to provide you with more information on the collection, processing and usage of personal information and you can reach out to us at the following</p>

<h3>RESPONSIBLE BODY</h3>

<p>
The responsible body for the collection, processing and usage of data is:</p>
<p><b>Libtech India</b></p>
<p>Email: libtech.manager@gmail.com
<p>
