<div class="container" [formGroup]="filterForm">
  <mat-card class="col-md-12" style="padding:5px;">
    <mat-expansion-panel (opened)="panelOpen = true"
                         (closed)="panelOpen = false"
                         [expanded]="panelOpen">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 align="center">Filters</h3>
        </mat-panel-title>
        <mat-panel-description style="text-align-vertical:center; text-align:center;">
          <label class="col-sm-2 col-form-label"></label>
          Click to {{!panelOpen ? 'Open' : 'Close'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-content class="col-md-12">
        <div *ngIf="showAddressBar" class="form-group row">
          <label  class="col-sm-3 col-form-label"></label>
          <div class="col-sm-6">
            <!-- <app-address-search formControlName="location" (setAddress)="location=$event"></app-address-search> -->
            <app-address-search formControlName="location"></app-address-search>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <label  class="col-sm-2 col-form-label">Search</label>
          <div class="col-sm-4">
            <input formControlName="search" class="form-control" placeholder="Search by name, phone">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <label  class="col-sm-2 col-form-label">Volunteer</label>
          <div class="col-sm-4">
            <input formControlName="assigned_to_user__name__icontains" class="form-control" placeholder="Search by Volunteer">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <label  class="col-sm-2 col-form-label">Group</label>
          <div class="col-sm-4">
            <input formControlName="assigned_to_group__name__icontains" class="form-control" placeholder="Search by Group">
          </div>
        </div>

	<!--
        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <label  class="col-sm-2 col-form-label">Help Required</label>
          <div class="col-sm-4">
            <input formControlName="what_help__contains" class="form-control" placeholder="Search by Help Required">
          </div>
        </div>
	-->

        <div class="form-group row">
          <label class="col-sm-3 col-form-label"></label>
          <label class="col-sm-2 col-form-label">Results per Page</label>
          <div class="col-sm-1">
            <input  formControlName="limit" class="form-control" placeholder="min">
          </div>
          <div class="col-sm-3">
            <select formControlName="ordering" class="form-control">
              <option value="created">Oldest Listing First</option>
              <option value="-created">Newest Listing First</option>
              <option value="updated">Recently Updated First</option>
              <option value="-updated">Recently Updated Last</option>
              <!--
                  <option value="nearest">Nearest to Farthest</option>
              <option value="-nearest">Farthest to Nearest</option>
              <option value="null" selected>Sort by?</option>
              -->
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div align="center" class="col-sm-4">
            <mat-form-field>
              <mat-label>By Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div align="center" class="col-sm-4">
            <mat-form-field>
              <mat-label>By Type</mat-label>
              <mat-select formControlName="record_type">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let option of recordTypeOptions" [value]="option.value">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div align="center" class="col-sm-4">
            <mat-form-field>
              <mat-label>By Urgency</mat-label>
              <mat-select formControlName="urgency">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let option of urgencyOptions" [value]="option.value">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
	  <!--
          <div align="center" class="col-sm-4">
            <mat-form-field>
              <mat-label>Is Assigned?</mat-label>
              <mat-select formControlName="assigned_to_user__isnull">
                <mat-option value="">None</mat-option>
                <mat-option *ngFor="let option of isAssignedOptions" [value]="option.value">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
	  <mat-button-toggle-group formControlName="assigned_to_user__isnull">
	    <mat-button-toggle mat-raised-button [value]="">None</mat-button-toggle>
	    <mat-button-toggle *ngFor="let option of isAssignedOptions" [value]="option.value">{{ option.name }}</mat-button-toggle>
	  </mat-button-toggle-group>
	 	  
          <div align="center" class="col-sm-2" style="margin-top: 20px;">
	    <mat-slide-toggle formControlName="assigned_to_user__isnull">Unassigned</mat-slide-toggle>
	  </div>	  
          <div align="center" class="col-sm-3">
	  </div>
	  -->
        </div>
	<div class="form-group row">
          <section align="center">
	    <span *ngFor="let option of helpOptions">
              <mat-checkbox [formControlName]="option.value">
		<i class="fa fa-lg" [ngClass]="option.class"
		   [ngStyle]="{'color': option.color}"></i>
		{{ option.name }}
	      </mat-checkbox>
	      <label style="margin: 10px;"></label>
	    </span>
          </section>
	  
	  <!--
          <mat-checkbox class="margin-left: 50px;" [formControlName]="helpOptions[0].value">
	    <i class="fa fa-lg" [ngClass]="helpOptions[0].class"
	       [ngStyle]="{'color': helpOptions[0].color}"></i>
	    {{ helpOptions[0].name }}
	  </mat-checkbox>
	  
          <i class="fa fa-tint fa-lg" style="align:center; color:lightblue; margin-left: 50px;"></i><label style="margin: 2px;">Water</label>
          <i class="fa fa-shopping-basket fa-lg" style="align:center; color:#DEA4ED; margin-left: 50px;"></i><label style="margin: 2px;">Dry Rations</label>
          <i class="fa fa-plus-square fa-lg" style="align:center; color:red; margin-left: 50px;"></i><label style="margin: 2px;">Medical Help</label>
          <i class="fa fa-cutlery fa-lg" style="align:center; color:orange; margin-left: 50px;"></i><label style="margin: 2px;">Cooked Food</label>
          <i class="fa fa-bus fa-lg" style="align:center; color:purple; margin-left: 50px;"></i><label style="margin: 2px;">Transport</label>
          <i class="fa fa-bed fa-lg" style="align:center; color:#A5B6FA; margin-left: 50px;"></i><label style="margin: 2px;">Shelter</label>
          <i class="fa fa-circle-o fa-lg" style="align:center; color:#8A8A8A; margin-left: 50px;"></i><label style="margin: 2px;">Other</label>

          <i class="fa fa-money fa-lg" style="align:center; color:#C0E48E; margin-left: 50px;"></i><label style="margin-left: 5px;">Cash</label>
          <i class="fa fa-tint fa-lg" style="align:center; color:#FEBE89; margin-left: 50px;"></i><label style="margin-left: 5px;">Drinking Water</label>	  
          <i class="fa fa-plus-square fa-lg" style="align:center; color:#F47A7A; margin-left: 50px;"></i><label style="margin-left: 5px;">Medical Help</label>
          <i class="fa fa-cutlery fa-lg" style="align:center; color:#FEBE89; margin-left: 50px;"></i><label style="margin-left: 5px;">Cooked Food</label>
          <i class="fa fa-bus fa-lg" style="align:center; color:#A5B6FA; margin-left: 50px;"></i><label style="margin-left: 5px;">Transport To Home</label>
          <i class="fa fa-bug fa-lg" style="font-size: 25px; align:center; color:#8A8A8A; margin-left: 50px;"></i><label style="margin-left: 5px;">PET Meds </label>
	  -->
	</div>
        <div class="form-group row">
          <div align="center" class="col-sm-4" style="padding: 5px;">
	    <mat-button-toggle-group formControlName="assigned_to_user__isnull">
	      <mat-button-toggle mat-raised-button [value]="">All</mat-button-toggle>
	      <mat-button-toggle *ngFor="let option of isAssignedOptions" [value]="option.value">{{ option.name }}</mat-button-toggle>
	    </mat-button-toggle-group>
	  </div>
          <mat-card class = "col-sm-6">
            <mat-card-content>
	      <div *ngIf="isEmpty(bulkActionList)" align="center">
		Please select items below for bulk actions to appear here
	      </div>
              <ng-container
                *ngFor="let option of bulkActionList|keyvalue;">
                <button mat-raised-button class="btn-success"
                        (click)="onBulkAction(option.key)">
                  {{ option.value }}
                </button>
		<label style="margin: 10px;"></label>
              </ng-container>
            </mat-card-content>
          </mat-card>
          <div align="center" class="col-sm-2">
	  </div>	  
        </div>

      </mat-card-content>
    </mat-expansion-panel>
  </mat-card>

  <div *ngIf="dataLoaded | async" class="col-lg-12 well">
    <div class="row">
      <div class="col-md-12">
        <!--
            <h4 class="text-left">List Entitys</h4>
            <h3 class="text-center">List</h3>
            -->
      </div>
      <div class="col-lg-12 ml-auto mr-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th *ngIf="!authService.isVolunteer()">
                  <mat-checkbox [ngModelOptions]="{standalone: true}" class="cb-margin" (change)="allChecked()" [(ngModel)]="checkState"></mat-checkbox></th>
                <th>Name</th>
                <th>Contact Nos</th>
                <th>Group</th>
                <th>Volunteer</th>
                <th>Status</th>
                <th>Urgency</th>
                <th *ngIf="!authService.isVolunteer()" align="center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entity of (page | async)?.results;let i=index">
                <td *ngIf="!authService.isVolunteer()">
                  <mat-checkbox
                    [ngModelOptions]="{standalone: true}"
                    class="cb-margin" (change)="onCBChange(entity)"
                    [(ngModel)]="selectedEntities[entity.id]"></mat-checkbox>
                </td>
                <td *ngIf="authService.isLoggedIn()">
                  <a [routerLink]="['/item',entity.id]">{{entity.title}}</a>
                </td>
                <td *ngIf="!authService.isLoggedIn()">
                  {{entity.name}}
                </td>
                <td>
		  <span *ngIf="authService.isNotClient()">
		    {{ (entity.contact_numbers | json).replace('.0', '')
		    .replace('"', '').replace('"', '') }}
		  </span>
		</td>
                <td *ngIf="!entity.assigned_to_group"></td>
                <td *ngIf="entity.assigned_to_group">{{entity.assigned_to_group.name}}</td>
                <td *ngIf="!entity.assigned_to_user"></td>
                <td *ngIf="entity.assigned_to_user">{{entity.assigned_to_user.name}}</td>
                <td>{{entity.status}}</td>
                <td>{{entity.urgency}}</td>
                <td *ngIf="!authService.isVolunteer()" class="td-actions">
                  <div>
                  <button mat-raised-button class="btn btn-primary"
                          [routerLink]="['/update',entity.id]">
                    Edit
                  </button>
                    <!--
                        <span>    </span>
                        <button mat-raised-button
                                (click)="deleteEntity(entity.id)">
                          Delete
                        </button>
                        -->
                  </div>
                  <!--
                      <a type="button" class="btn btn-success btn-just-icon btn-sm "
                         style="margin-left:10px;"
                         [routerLink]="['/edit',entity.id]"
                         >
                        <i class="material-icons">Edit</i>
                      </a>
                      <button
                        (click)="deleteEntity(entity.id)"
                        type="button" rel="tooltip"
                        class="btn btn-danger btn-just-icon btn-sm"
                        data-original-title=""
                        title="" style="margin-left:10px;">
                        <i class="material-icons">Delete</i>
                      </button>
                      -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--
        <div class="row" *ngIf="authService.isRealtor()" align="center">
          <mat-card>
            <mat-card-content>
              <mat-card-title align="center">Bulk Action</mat-card-title>
              <mat-card-subtitle>Apply to Selected Entities</mat-card-subtitle>
              <h4>Bulk Action for the Selected Entities Above</h4>
              <button *ngFor="let option of bulkActionList|keyvalue"
                      mat-raised-button class="btn-danger"
                      (click)="onBulkAction(option.key)">
                {{ option.value }}
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <br />
        <div class="row" *ngIf="authService.isRealtor()" align="center">
          <mat-card>
            <mat-card-content>
              <mat-card-title align="center">Bulk Action</mat-card-title>
              <mat-card-subtitle>Apply to Selected Entities</mat-card-subtitle>
              <h4>Filter Based on Status</h4>
              <button *ngFor="let option of bulkActionList|keyvalue"
                      mat-raised-button class="btn-primary"
                      (click)="onBulkAction(option.key)">
                {{ option.value }}
              </button>
            </mat-card-content>
          </mat-card>
        </div>
        <br />
        <div class="row" *ngIf="authService.isRealtor()" align="center">
          <mat-form-field>
            <mat-label>Bulk Action</mat-label>
            <mat-select [(value)]="bulkAction">
              <mat-option value="none">None</mat-option>
              <mat-option *ngFor="let option of bulkActionList|keyvalue" [value]="option.key">{{ option.value }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button
                  (click)="onBulkAction(bulkAction)">
            Apply Bulk Action
          </button>
          <button mat-raised-button
                  (click)="deleteAllEntitys()">
            Delete All Entities
          </button>
        </div>
        <pre> {{ bulkAction }} </pre>
  </div>
  -->
  </div>

  <div align="center row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>
    </div>
    <div class="col-sm-3">
      <div *ngIf="authService.isGroupAdmin()" class="form-group row">
        <section align="center">
          <button mat-raised-button class="btn-success"
                  (click)="onExport()">
            Export all records to csv
          </button>
        </section>
      </div>
    </div>
  </div>
</div>
