<div class="container" [formGroup]="filterForm">
  <div class="form-group row">
    <label  class="col-md-3 col-form-label"></label>
    <div class="col-md-6">
      <!-- <app-address-search formControlName="address" class="form-control" (setAddress)="getAddress($event)" adressType="geocode"></app-address-search> -->
      <app-address-search (setAddress)="getAddress($event)" adressType="geocode"></app-address-search>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label"></label>
    <label  class="col-md-2 col-form-label">Search</label>
    <div class="col-md-4">
      <input formControlName="search" class="form-control" placeholder="Search by name, phone">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"></label>
    <label  class="col-md-2 col-form-label">Volunteer</label>
    <div class="col-md-4">
      <input formControlName="volunteer" class="form-control" placeholder="Search by Volunteer">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"></label>
    <label class="col-md-2 col-form-label">Results per Page</label>
    <div class="col-md-1">
      <input  formControlName="limit" class="form-control" placeholder="min">
    </div>
    <div class="col-md-3">
      <select formControlName="ordering" class="form-control">
        <option value="null" selected>Sort by?</option>
        <option value="created">Oldest Listing First</option>
        <option value="-created">Newest Listing First</option>
        <option value="updated">Recently Updated First</option>
        <option value="-updated">Recently Updated Last</option>
        <option value="nearest">Nearest to Farthest</option>
        <option value="-nearest">Farthest to Nearest</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label"></label>
    <div *ngIf="authService.isRealtor()" align="center">
      <mat-form-field>
        <mat-label>By Status</mat-label>
        <mat-select formControlName="statusSelect">
          <mat-option value="none">None</mat-option>
          <mat-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="dataLoaded | async" class="col-lg-12 well">
    <div class="row">
      <div class="col-md-12">
        <!--
        <h4 class="text-left">List Entitys</h4>
        -->
          <h3 class="text-center">List</h3>
      </div>
      <div class="col-lg-12 ml-auto mr-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th *ngIf="authService.isRealtor()">
                  <mat-checkbox [ngModelOptions]="{standalone: true}" class="cb-margin" (change)="allChecked()" [(ngModel)]="checkState"></mat-checkbox></th>
                <th>Name</th>
                <th>Contact Nos</th>
                <th>Volunteer</th>
                <th>Posted On</th>
                <th *ngIf="authService.isRealtor()" align="center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entity of (page | async)?.results;let i=index">
                <td *ngIf="authService.isRealtor()">
                  <mat-checkbox
                    [ngModelOptions]="{standalone: true}"
                    class="cb-margin" (change)="onCBChange(entity)"
                    [(ngModel)]="selectedEntities[entity.id]"></mat-checkbox>
                </td>
                <td *ngIf="authService.isRealtor()">
                  <a [routerLink]="['/item',entity.id]">{{entity.title}}</a>
                </td>
                <td *ngIf="!authService.isRealtor()">
                  {{entity.name}}
                </td>
                <td>{{entity.contact_numbers}}</td>
                <td>{{entity.extra_fields.volunteer}}</td>
                <td>{{entity.created | date}}</td>
                <td *ngIf="authService.isRealtor()" class="td-actions">
                  <div>
                    <button mat-raised-button class="btn btn-warning"
                            (click)="editDialog(entity)">
                      Edit
                    </button>
                    <!--
                    <span>    </span>
                    <button mat-raised-button
                            (click)="deleteEntity(entity.id)">
                      Delete
                    </button>
                    -->
                  </div>
                  <!--
                      <a type="button" class="btn btn-success btn-just-icon btn-sm "
                         style="margin-left:10px;"
                         [routerLink]="['/edit',entity.id]"
                         >
                        <i class="material-icons">Edit</i>
                      </a>
                      <button
                        (click)="deleteEntity(entity.id)"
                        type="button" rel="tooltip"
                        class="btn btn-danger btn-just-icon btn-sm"
                        data-original-title=""
                        title="" style="margin-left:10px;">
                        <i class="material-icons">Delete</i>
                      </button>
                      -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="authService.isRealtor()" align="center">
      <mat-card>
        <mat-card-content>
          <!--
          <mat-card-title align="center">Bulk Action</mat-card-title>
          <mat-card-subtitle>Apply to Selected Entities</mat-card-subtitle>
          -->
          <h4>Bulk Action for the Selected Entities Above</h4>
          <button *ngFor="let option of bulkActionList|keyvalue"
                  mat-raised-button class="btn-danger"
                  (click)="onBulkAction(option.key)">
            {{ option.value }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <br />
    <div class="row" *ngIf="authService.isRealtor()" align="center">
      <mat-card>
        <mat-card-content>
          <!--
          <mat-card-title align="center">Bulk Action</mat-card-title>
          <mat-card-subtitle>Apply to Selected Entities</mat-card-subtitle>
          -->
          <h4>Filter Based on Status</h4>
          <button *ngFor="let option of bulkActionList|keyvalue"
                  mat-raised-button class="btn-primary"
                  (click)="onBulkAction(option.key)">
            {{ option.value }}
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <br />
    <div class="row" *ngIf="authService.isRealtor()" align="center">
      <mat-form-field>
        <mat-label>Bulk Action</mat-label>
        <mat-select [(value)]="bulkAction">
          <mat-option value="none">None</mat-option>
          <mat-option *ngFor="let option of bulkActionList|keyvalue" [value]="option.key">{{ option.value }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button
              (click)="onBulkAction(bulkAction)">
        Apply Bulk Action
      </button>
      <!--
      <button mat-raised-button
              (click)="deleteAllEntitys()">
        Delete All Entities
      </button>
      -->
    </div>
    <pre> {{ bulkAction }} </pre>
  </div>

  <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>
</div>
