/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Adding for Table Related adjustments */
table {
    overflow: hidden;
}

td, th {
    padding: 10px;
    position: relative;
    outline: 0;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

body:not(.nohover) tbody tr:hover {
    background-color: #FDDD9B;
}

td:hover::after,
thead th:not(:empty):hover::after,
td:focus::after,
thead th:not(:empty):focus::after { 
    content: '';  
    height: 10000px;
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;
}

td:hover::after,
th:hover::after {
    background-color: #FDDD9B;
}

td:focus::after,
th:focus::after {
    background-color: lightblue;
}

/* Focus stuff for mobile */
td:focus::before,
tbody th:focus::before {
    background-color: lightblue;
    content: '';  
    height: 100%;
    top: 0;
    left: -5000px;
    position: absolute;  
    width: 10000px;
    z-index: -1;
}

/* Adding hightlght with kill 
.highlight{
    background-color: #FF0;
}
.kill-highlight{
    background-color: #AD310B;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
@keyframes highlight {
    0% {
        background: red;
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 1s;
}
*/
