<div class="container">
    <h1>Invite User </h1>
    <p *ngIf="!success">{{message}}</p>
    <h3 *ngIf="success" class="text-success"> Invitation email has been sent to {{email}}</h3> 
      <h3 *ngIf="!success" class="text-danger" [innerHTML]="errorMessage"> </h3> 
    <div class="col-lg-8 " *ngIf="!success">
      <div class="row well center">
        <label>Email</label>
        <input 
           type='text'
           class="form-control"
           [(ngModel)]="email">

        <button class="btn btn-primary"  (click)="onSubmit()">Invite</button>
      </div>
    </div>


</div>
