<div *ngIf="dataLoaded | async" class="container">
	<h1>{{ apartment.name }} </h1><h3 *ngIf="authService.isRealtor()"><a [routerLink]="['/edit',apartment.id]">Edit</a></h3>
  <div class=" row">
    <div class="col-md-2">
	<p>Description</p>
    </div>
    <div class="col-md-4">
	    <p>{{ apartment.description }} </p>
    </div>
  </div>

  <div class=" row">
    <div class="col-md-2">
	<p>Is Available</p>
    </div>
    <div class="col-md-4">
	    <p>{{ apartment.is_available }} </p>
    </div>
  </div>
  <div class=" row">
    <div class="col-md-2">
	<p>Number of Rooms</p>
    </div>
    <div class="col-md-4">
	    <p>{{ apartment.number_of_rooms }} </p>
    </div>
  </div>

  <div class=" row">
    <div class="col-md-2">
	<p>Floor Area Size (sqft)</p>
    </div>
    <div class="col-md-4">
	    <p>{{ apartment.floor_area_size }} </p>
    </div>
  </div>

  <div class=" row">
    <div class="col-md-2">
	<p>Price Per Month</p>
    </div>
    <div class="col-md-4">
	    <p>{{ apartment.price_per_month }} </p>
    </div>
  </div>

  <div class=" row">
    <div class="col-md-2">
	<p>Location</p>
    </div>
    <div class="col-md-4">
	    <p> Lat {{ apartment.latitude }}  Lon {{ apartment.longitude }}</p>
    </div>
  </div>

  <div class=" row">
    <div class="col-md-6">
     <agm-map #AgmMap [latitude]="latitude" [longitude]="longitude" (boundsChange)="checkMarkersInBounds($event)">
	     <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
     </agm-map>
    </div>
  </div>

</div>


