<div class="container" [formGroup]="filterForm">
	
  <div class="form-group row hide">
      <input formControlName="latitude__gte" class="form-control" [(ngModel)]="lat_min">
      <input formControlName="latitude__lte" class="form-control" [(ngModel)]="lat_max">
      <input formControlName="longitude__gte" class="form-control" [(ngModel)]="long_min">
      <input formControlName="longitude__lte" class="form-control" [(ngModel)]="long_max">
  </div>
  <div class="form-group row">
    <label  class="col-md-2 col-form-label">Search</label>
    <div class="col-md-4">
      <input formControlName="search" class="form-control" placeholder="Search by apartment name/description">
    </div>
  </div>

  <div class="form-group row" *ngIf="authService.isRealtor()">
    <label  class="col-md-2 col-form-label">Is Available</label>
    <div class="col-md-2">
          <select formControlName="is_available" class="form-control">
             <option [value]="null">Is available?</option>
             <option [value]="true">Yes</option>
             <option [value]="false">No</option>
          </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Price Per Month (in Rupees)</label>
    <div class="col-md-2">
      <input  formControlName="price_per_month__gte" class="form-control" placeholder="min">
    </div>
    <div class="col-md-2">
      <input  formControlName="price_per_month__lte" class="form-control" placeholder="max">
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-md-2 col-form-label">Floor Area Size (in sqft)</label>
    <div class="col-md-2">
      <input  formControlName="floor_area_size__gte" class="form-control" placeholder="min">
    </div>
    <div class="col-md-2">
      <input  formControlName="floor_area_size__lte" class="form-control" placeholder="max">
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-md-2 col-form-label">Number of Rooms</label>
    <div class="col-md-2">
      <input  formControlName="number_of_rooms__gte" class="form-control" placeholder="min">
    </div>
    <div class="col-md-2">
      <input  formControlName="number_of_rooms__lte" class="form-control" placeholder="max">
    </div>
  </div>



  <div *ngIf="dataLoaded | async" class="col-lg-12 well">
 
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]=4 (boundsChange)="getMapBounds($event)">

      <div *ngFor="let apartment of (page | async)?.results" [ngClass]="{'available': apartment.is_available, 'apartment': true}">
          <agm-marker (mouseOver)="window.open()" (mouseOut)="window.close()" (markerClick)="markerClick(apartment.id)" [latitude]="apartment.latitude"
            [longitude]="apartment.longitude">
            <agm-info-window #window>
              <h6>Name: {{apartment.name}}</h6>
              <h6>Is Available: {{apartment.is_available}}</h6>
              <h6>Description: {{apartment.description}}</h6>
              <h6>Number of Rooms: {{apartment.number_of_rooms}}</h6>
              <h6>Price per month: {{apartment.price_per_month}}</h6>
              <h6>Floor Area Size: {{apartment.floor_area_size}}</h6>
	      <h6><a href="/view/{{apartment.id}}">View</a></h6>
            </agm-info-window>
          </agm-marker>
      </div>
    </agm-map>
  </div>
</div>
