<div *ngIf="dataLoaded | async" class="container">
  <div class="row well center">
    <div class="jumbotron">
      <h2 align="center">{{ entity.title }}</h2>
      <h3>{{ entity.name }}</h3>
      <p>{{ entity.description }} </p>
    </div>
    <div>
      <h5>Full Name: {{ entity.full_name }}</h5>
      <h5>Address: {{ entity.address }}</h5>
      <h5>Current Location - Latitude: {{ entity.latitude }} Longitude: {{ entity.longitude }}</h5>
      <h5>Phone: {{ entity.contact }}</h5>
      <h5>Email: {{ entity.email }}</h5>
      <!-- <h5>Status: {{ entity.status }}</h5> -->
    </div>
    <div style="display:none">
      <h3 >Other Details:</h3>
      <pre>{{ entity.data_json | json }}</pre>
      <pre>{{ entity.extra_fields | json }}</pre>
    </div>
  </div>
  <div class="row center">
    <div class="td-actions">
      <button mat-raised-button
              class="btn btn-warning"
              *ngIf="authService.isRealtor()"
              (click)="editDialog(entity)">
        Edit
      </button>
      <button mat-raised-button>
            <a routerLink="/list">Back</a>
      </button>
    </div>
  </div>
</div>
