<div class="container" >
    <div class="title">
    <h1>Filter Your Apartments</h1>   
    <p>Filter by dates from-to, time from-to (e.g. how much calories have I had for lunch each day in the last month if lunch is between 12 and 15h).</p>
    </div>
    
   
    <div *ngIf="apartmentsLoaded | async" class="col-lg-12 well">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left">List of Your Added Apartments</h4> 
        </div>
        <div class="col-lg-12 ml-auto mr-auto">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>No Of Rooms</th>
                        <th>Price per month</th>
                        <th *ngIf="isUserManager()">Username</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let apartment of (apartments | async)?.results;let i=index" 
                    >
                        <td class="text-center">{{ i+1 }}</td>
                        <td>{{apartment.name}}</td>
                        <td>{{apartment.description}}</td>
                        <td>{{apartment.number_of_rooms}}</td>
                        <td>{{apartment.price_per_month}}</td>
                        <td *ngIf="isUserManager()">{{apartment.username}}</td>
                        <td class="td-actions text-right">                             
                            <a type="button" class="btn btn-success btn-just-icon btn-sm "
                            style="margin-left:10px;"
                          [routerLink]="['/edit',apartment.id]"
                            >
                                <i class="material-icons">Edit</i>
                            </a>

                            <button (click)="deleteApartment(apartment.id)" type="button" rel="tooltip" class="btn btn-danger btn-just-icon btn-sm" data-original-title="" title="" style="margin-left:10px;">
                                <i class="material-icons">Delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
     </div>
  </div>
  </div>
</div>
